.withdraw {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.withdrawTitle {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: var(--white);
  margin-bottom: 40px;
}

.withdrawList {
  display: flex;
  align-items: flex-end;
}

.withdrawItem:not(:last-child) {
  margin-right: 20px;
}

.withdrawSubtitle {
  padding-left: 10px;
  color: var(--inactive-input-border);
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}

.withdrawInput {
  width: 260px;
  height: 50px;
  padding-left: 18px;
  background: var(--white);
  font-size: 27px;
  border: 2px solid var(--inactive-input-border);
  border-radius: 10px;
  caret-color: var(--purple);
}

.withdrawInput:focus {
  outline: none;
  border: 2px solid var(--pink);
}


.withdrawBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 50px;
  background: var(--main-gradient);
  border: none;
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.withdrawBtn:hover {
  cursor: url('../../../../../assets/svg/customHoverCursor.svg'), pointer;
  background: var(--button-hover-gradient);
}

.withdrawBtn:focus {
  background: var(--button-focus-gradient);
}

.withdrawBtn:active {
  background: var(--blue);
}

@media(max-width: 840px) {
  .withdrawList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .withdrawItem:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media(max-width: 420px) {
  .withdraw {
    padding-top: 25px;
  }

  .withdrawTitle {
    font-size: 33px;
    margin-bottom: 23px;
  }

  .withdrawSubtitle {
    font-size: 16px;
  }

  .withdrawItem:not(:last-child) {
    margin: 0 0 20px 0;
  }
}